* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar-track
{
	background-color: #F1F1F1;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F1F1F1;
}

::-webkit-scrollbar-thumb
{
	background-color: $green;
}

body{
    font-family: $font-family;
    font-weight: 300;
}

header, footer, section{
    position: relative;
}

a, button{
    @include transition(transition, all 0.25s ease-in-out);
}


h1, h2, h3, h4, h5, h6{
    text-transform: uppercase;
    strong{
        font-weight: bold;
    }
}

h1{
    line-height: 1.3;
}

p{
    line-height: 1.5;
    margin-bottom: 20px;
}

select{
    width: 100%;
    border: none;
    @include border-radius(0);
    
    height: 36px;
    padding-left: 6px;
    position: relative;

    &::-ms-expand {
        display: none;
    }

    &:focus{
        outline: none;
    }

    -webkit-appearance: none;
    -moz-appearance: none;
}

.box-select{
    width: 100%;
    &:before{
        position: absolute;
        right: 15px;
        width: 30px;
        background: url(../img/select-arrow.svg) no-repeat 6px 14px #fff;
        height: 100%;
        z-index: 9;
        content: ' ';
        pointer-events: none;
    }
}

section{
    &.pages{
        padding: 50px 0;
    }
}

.blur{
    @include blur(1px);
}

.opacity{
    opacity: 0.5;
}

.right{
    text-align: right !important;
}

.left{
    text-align: left !important;
}

.center{
    text-align: center !important;
}

.pl-0{
    padding-left: 0 !important;
}

.pr-0{
    padding-right: 0 !important;
}

.hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    outline: none;

    &:hover {
      //opacity: 0.7;
    }
    &.is-active {
      &:hover {
        //opacity: 0.7;
      }
      .hamburger-inner {
        background-color: white;
        &::before, &::after {
          background-color: white;
        }
      }
    }
  }
  
  .hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
  }
  
  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
    width: 40px;
    height: 4px;
    background-color: white;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
    &::before, &::after {
      width: 40px;
      height: 4px;
      background-color: white;
      border-radius: 4px;
      position: absolute;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease;
    }
    &::before, &::after {
      content: "";
      display: block;
    }
    &::before {
      top: -10px;
    }
    &::after {
      bottom: -10px;
    }
  }
  
  .hamburger--spin {
    .hamburger-inner {
      transition-duration: 0.22s;
      transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
      &::before {
        transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
      }
      &::after {
        transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      }
    }
    &.is-active .hamburger-inner {
      transform: rotate(225deg);
      transition-delay: 0.12s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      &::before {
        top: 0;
        opacity: 0;
        transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
      }
      &::after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
}

.mb-10{
    margin-bottom: 10px !important;
}

.mb-20{
    margin-bottom: 20px !important;
}

.mb-30{
    margin-bottom: 30px !important;
}

.mb-40{
    margin-bottom: 40px !important;
}

.mb-50{
    margin-bottom: 50px !important;
}

.mb-60{
    margin-bottom: 60px !important;
}

.mt-10{
    margin-top: 10px !important;
}

.mt-20{
    margin-top: 20px !important;
}

.mt-30{
    margin-top: 30px !important;
}

.mt-40{
    margin-top: 40px !important;
}

.mt-50{
    margin-top: 50px !important;
}

.mt-60{
    margin-top: 60px !important;
}

@media #{$tablet}{
    .sm-right{ 
        text-align: right !important;
    }
     
    .sm-left{
        text-align: left !important;
    }
    
    .sm-center{
        text-align: center !important;
    }
}


@media #{$phone}{
    .xs-right{ 
        text-align: right !important;
    }
     
    .xs-left{
        text-align: left !important;
    }
    
    .xs-center{
        text-align: center !important;
    }

    .xs-mb-0{
        margin-bottom: 0px !important;
    }

    .xs-mb-10{
        margin-bottom: 10px !important;
    }

    .xs-mb-20{
        margin-bottom: 20px !important;
    }

    .xs-mb-30{
        margin-bottom: 30px !important;
    }

    .xs-mb-40{
        margin-bottom: 40px !important;
    }

    .xs-mb-50{
        margin-bottom: 50px !important;
    }

    .xs-mb-60{
        margin-bottom: 60px !important;
    }

    .xs-mt-0{
        margin-top: 0px !important;
    }

    .xs-mt-10{
        margin-top: 10px !important;
    }

    .xs-mt-20{
        margin-top: 20px !important;
    }

    .xs-mt-30{
        margin-top: 30px !important;
    }

    .xs-mt-40{
        margin-top: 40px !important;
    }

    .xs-mt-50{
        margin-top: 50px !important;
    }

    .xs-mt-60{
        margin-top: 60px !important;
    }
}

@font-face {
    font-family: 'agata';
    src:  url('../fonts/agata.eot?6iu6xb');
    src:  url('../fonts/agata.eot?6iu6xb#iefix') format('embedded-opentype'),
      url('../fonts/agata.ttf?6iu6xb') format('truetype'),
      url('../fonts/agata.woff?6iu6xb') format('woff'),
      url('../fonts/agata.svg?6iu6xb#agata') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    font-family: 'agata' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-caracteristica_banos:before {
    content: "\e900";
  }
  .icon-caracteristica_cocina:before {
    content: "\e901";
  }
  .icon-caracteristica_comedor:before {
    content: "\e902";
  }
  .icon-caracteristica_construccion:before {
    content: "\e903";
  }
  .icon-caracteristica_garage:before {
    content: "\e904";
  }
  .icon-caracteristica_habitaciones:before {
    content: "\e905";
  }
  .icon-caracteristica_lavado:before {
    content: "\e906";
  }
  .icon-caracteristica_propiedad:before {
    content: "\e907";
  }
  .icon-caracteristica_sala:before {
    content: "\e908";
  }
  .icon-caracteristica_salaTV:before {
    content: "\e909";
  }
  .icon-casas:before {
    content: "\e90a";
  }
  .icon-lotes:before {
    content: "\e90b";
  }
  .icon-fincas:before {
    content: "\e90c";
  }
  .icon-quintas:before {
    content: "\e90d";
  }
  .icon-comercios:before {
    content: "\e90e";
  }
  .icon-lupa:before {
    content: "\e90f";
  }
  .icon-menu_facebook:before {
    content: "\e910";
  }
  .icon-menu_telefono:before {
    content: "\e911";
  }
  .icon-menu_whatsapp:before {
    content: "\e912";
  }
  .icon-share:before {
    content: "\e913";
  }
  .icon-ubicacion:before {
    content: "\e914";
  }

  .gallery{
      margin-bottom: 10px;
      position: relative;

      .price{
            position: absolute;
            z-index: 99;
            right: 0;
            top: 35px;
            padding: 20px;
            background: $green;
            width: auto;
            color: white;
            font-weight: bold;
            font-size: 28px;

            @media #{$tablet}{
                font-size: 20px;
                padding: 10px;
                top: 20px;
            }
        }

      .carousel-left,
      .carousel-right{
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          z-index: 99;
      }

      .carousel-left{
          left: 20px;
      }

      .carousel-right{
        right: 20px;
    }
  }
  

.no-results.not-found{
    padding: 50px 0;
    display: inline-block;
    width: 100%;
    text-align: center;
    img{
        margin-bottom: 20px;
    }
    h2{
        font-size: 26px;
        letter-spacing: 5px;
        line-height: 1.5;
        
        
    }
}

.wrapper{
    padding: 50px 0;

    a{
        color: $green;
        &:hover{
            text-decoration: underline;
        }

        &.btn{
            color: white;
            border: none;
            &:hover{
                text-decoration: none;
            }
        }
    }

    input{
        &.btn{
            color: white;
            border: none;
            &:hover{
                text-decoration: none;
            }
        }
    }

    article{
        margin-bottom: 60px; 

        h1{
            &.entry-title{
                font-size: 36px;
                font-weight: 500;
            }
        }

        h2{
            &.entry-title{
                font-size: 28px;
                font-weight: 500;
            }
        }

        h1,h2,h3,h4,h5,h6{
            margin-bottom: 10px;
            font-weight: 500;
        }

        h1{
            font-size: 30px;
        }

        h2{
            font-size: 26px;
        }

        h3{
            font-size: 24px;
        }

        h4{
            font-size: 22px;
        }

        h5{
            font-size: 20px;
        }

        h6{
            font-size: 18px;
        }

        .entry-meta{
            margin: 10px 0;
        }

        .entry-content{
            margin-top: 20px;
        }
    }
}

.actions{
    background: $grayLight;
    padding: 30px 0;

    a{
        position: relative;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 15px;
        color: black;
        letter-spacing: 5px;
        

        /*&:before{
            position: absolute;
            left: 20px;
            top: 50%;
            transform: translateY(-50%);
            background: url('../img/icons/arrow-left.svg') no-repeat center center;
            content: ' ';
            width: 19px;
            height: 33px;
        }*/

        &:hover{
            color: $green;
            
            svg {
                path{
                    fill: $green;
                }
            }
            
        }
    }

    a.btn{
        position: relative;
        background: transparent;
        border: 2px solid $green;
        color: $green;
        padding: 15px 20px;

        svg{
            margin: 0 5px;
        }

        &:hover{
            color: white;
            background: $red;
            border: 2px solid $red;

            svg path{
                fill: white;
            }
        }

        /*&:before{
            position: absolute;
            left: 20px;
            top: 50%;
            transform: translateY(-50%);
            background: url('../img/icons/share.svg') no-repeat center center;
            content: ' ';
            width: 34px;
            height: 34px;
        }*/
    }
}

.info{
    li{
        display: inline-block;
        padding: 0 20px;
        border-right: 1px solid white;

        
        a{
            display: block;
            font-size: 10px;
            text-transform: uppercase;
            color: white;
            text-align: left;
            line-height: 1.2;

            display: inline-flex;
            justify-content: center;
            align-items: center;

            @include transition(transition, all 0.25s ease-in-out);

            span{
                vertical-align: middle;
                &.number{
                    font-size: 14px;
                }
            }

            img, svg{
                margin-right: 10px;
            }

            &:hover{
                    color: $green;

                    svg path{
                        fill: $green;
                    }
            }
        }

        &:last-child{
            border: none;

            img, svg{
                margin-right: 0;
            }
        }

        @media #{$phone}{
            padding: 0 15px;

            a{
                span{
                    display: none;
                }

                img, svg{
                    margin: 0;
                }
            }
        }

    }

}

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 60px;
    height: 36px;
    background: url('../img/icons/goTop.svg') no-repeat center center;
    text-align: center;
    line-height: 30px;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;

    &:hover {
    }

    &.is--shown{
        svg path{
            fill: white;
        }
    }

    &.show {
        opacity: 1;
    }

    @media #{$tablet}{
        display: none;
    }
}

.btn{
    background: $red;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    @include border-radius(0);
    padding-bottom: 12px;
    padding-top: 12px;
    letter-spacing: 4px;

    img{
        margin-left: 4px;
        position: relative;
        top: 3px;
    }

    &:hover{
        background: $green;
    }

    &.see-all-properties{
        background: $red;
        &:hover{
            background: $green;
            color: white;
        }
    }

    &.more-info{
        background: $green;
        &:hover{
            background: $red;
            color: white;
        }
    }

    @media #{$tablet}{
        font-size: 12px;
        letter-spacing: 1px;
    }
}

// LOADER
.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $green;
    z-index: 9999;

    .lds-ellipsis {
        position: absolute;
        width: 64px;
        height: 64px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

        div {
        position: absolute;
        top: 27px;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background: #fff;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
        &:nth-child(1) {
            left: 6px;
            animation: lds-ellipsis1 0.6s infinite;
        }
        &:nth-child(2) {
            left: 6px;
            animation: lds-ellipsis2 0.6s infinite;
        }
        &:nth-child(3) {
            left: 26px;
            animation: lds-ellipsis2 0.6s infinite;
        }
        &:nth-child(4) {
            left: 45px;
            animation: lds-ellipsis3 0.6s infinite;
        }
        }
    }
}
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
  
    100% {
      transform: scale(0);
    }
  }
  
  
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
  
    100% {
      transform: translate(19px, 0);
    }
  }