.pre-footer{
    background: $black;
    padding: 30px 0;
    color: white;

    @media #{$phone}{
        text-align: center;

        ul.info{
                text-align: center;
                margin-top: 20px;
        }
    }
}

.menu-footer{
    background: $green;
    //padding: 10px;
    color: white;
    overflow: hidden;

    ul{
        font-size: 0;
        li{
            display: inline-block;
            border-right: 1px solid white;

            a{
                color: white;
                display: block;
                text-transform: uppercase;
                padding: 10px 30px;
                font-size: 16px;
                position: relative;

                &:after{
                    content: ' ';
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background: white;

                    visibility: hidden;
                    -webkit-transform: scaleX(0);
                    transform: scaleX(0);
                    @include transition(transition, all 0.3s ease-in-out 0s);
                }

                &:hover{
                    //background: rgba(255,255,255,0.1;
                    background: #0d6522;
                    &:after{
                        visibility: visible;
                        -webkit-transform: scaleX(1);
                        transform: scaleX(1);
                    }
                }
            }

            &:last-child{
                border-right: none;
                a{
                    margin-right: 0;

                    
                }
            }

            &.current-menu-item{
                a{
                    background: #0d6522;
                }
            }
        }
    }

    @media #{$tablet}{
        ul{
            li{
                a{
                    font-size: 14px;
                    //margin: 0 15px;
                }
            }
        }
    }

    @media #{$phone}{
        padding: 40px 0;
        ul{
            text-align: center;
            li{
                display: block;
                margin-bottom: 20px;
                border: none;

                a{
                    display: inline-block;
                }

                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
}