header{
    min-height: 350px;
    overflow: hidden;
    
    .bg{
        position: absolute;
        top: 0;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: -9;
        pointer-events: none;

        &:before{
            position: absolute;
            top: 0;
            left: 0px;
            background: rgba(0,0,0,0.5);
            width: 100%;
            height: 100%;
            content: ' ';
        }
    }

    .logo{
        z-index: 999;
        position: absolute;
        top: 0;
        background: white;
        padding: 30px 40px;

        a{
            display: block;
        }

        @media #{$tablet}{
            img{
                width: 100px;
            }
            
        }

        @media #{$phone}{
            padding: 10px 15px;

            img{
                width: 75px;
            }
            
        }
    }
    
    .top{
        z-index: 9;
        
        .info{
            padding: 20px 0 40px;
        }

        @media #{$phone}{
            .info{
                padding-bottom: 0;
            }
        }
    }

    .container-title{
        z-index: 9;
        margin-top: 20px;
    }

    .menu{
        z-index: 99;
        padding: 12px 0 12px 0;
        position: relative;
        @include transition(transition, all 0.25s ease-in-out);

        .menu-responsive{
            display: none;

            @media #{$phone}{
                display: block;
                
            }
        }

        .logo-icon{
            display: none;
        }

        ul{
            li{
                display: inline-block;
                border-right: 1px solid white;

                a{
                    color: white;
                    text-transform: uppercase;
                    margin: 0 30px;
                    font-size: 16px;
                    position: relative;

                    &:after{
                        content: ' ';
                        position: absolute;
                        bottom: -5px;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        background: white;

                        visibility: hidden;
                        -webkit-transform: scaleX(0);
                        transform: scaleX(0);
                        @include transition(transition, all 0.3s ease-in-out 0s);
                    }

                    &:hover{
                        &:after{
                            visibility: visible;
                            -webkit-transform: scaleX(1);
                            transform: scaleX(1);
                        }
                    }
                }
    
                &:last-child{
                    border-right: none;
                    a{
                        margin-right: 0;
                    }
                }
    
                &.current-menu-item{
                    a{
                        color: white;

                        &:after{
                            content: ' ';
                            background: white;
    
                            visibility: visible;
                            -webkit-transform: scaleX(1);
                            transform: scaleX(1);
                            @include transition(transition, all 0.3s ease-in-out 0s);
                        }
    
                        
                    }
                }
            }
        }

        @media #{$tablet}{
            ul{
                li{
                    a{
                        font-size: 14px;
                        margin: 0 20px;
                    }
                }
            }
        }

        @media #{$phone}{
            padding-top: 10px;

            .top{
                display: none;
                width: 100%;

                ul{
                    background: black;
                    padding: 30px 0;
                    width: 100%;
                    

                    li{
                        display: block;
                        text-align: center;
                        border: none;
                        margin-bottom: 25px;

                        &:last-child{
                            margin-bottom: 0px;
                        }

                        a{
                            color: white;
                            font-size: 22px;
                        }
                    }
                }
            }
        }


        .menu-mobile{
            display: none;
            background: black;
            padding: 40px 0;
            z-index: 99;
            position: absolute;
            width: 100%;

            ul{
                li{
                    display: block;
                    text-align: center;
                    margin-bottom: 25px;
                    border: none;

                    &:last-child{
                        margin-bottom: 0;
                    }

                    a{
                        font-size: 22px;
                    }
                }
            }
        }
    }

    .is-sticky{
        
        .menu{
            background: black;
            z-index: 999;

            .logo-icon{
                display: block;
            }
        }
    }

    h1{
        text-align: right;
        color: white;
        text-transform: uppercase;
        letter-spacing: 8px;
        font-size: 36px;
        //padding: 140px 0 90px;
        padding-bottom: 30px;
        margin-right: 40px;

        @media #{$desktop}{
            margin-right: 0;
        }

        @media #{$tablet}{
            font-size: 26px;
        }
    }

    .bloque{
        margin-bottom: 50px;
    }

    .container-search{
        display: none;
    }
    
    .buscador{
        //width: 80%;
        //float: right; 
        background: black;
        color: white;
        position: relative;
        font-size: 11px;
        padding: 20px 5px;
        text-align: center;

        .row{
            text-align: right;
        }

        h3{
            font-size: 20px;
            text-align: center;
            margin-bottom: 30px;
            margin-top: 10px;
            position: relative;
            width: auto;
            display: inline-block;

            display: inline-flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;

            span{
                margin-top: auto;
                margin-bottom: auto;
            }

            img{
                margin-right: 10px;
            }
        }

        .row{
            margin: 10px;
        }


        select{
                width: 100%;
                //background: url('../img/select-arrow.svg') no-repeat 96% 7px white;
                height: 22px;
                padding-left: 6px;
        }

        .box-select{
            &:before{

                background: url(../img/select-arrow.svg) no-repeat 6px 8px #fff;
      
            }
        }


        button{
            width: 100%;
            margin-top: 10px;
            text-transform: uppercase;
            padding: 10px;
            background: $red;
            border: none;
            color: white;

            &:hover{
                background: $green;
            }
        }
    }
}

body.home{
    header{
        h1{
            text-align: left;
        }

        .container-search{
            display: inline-block;    
        }
    }
}

body:not(.home){
    header{
        h1{
            padding: 140px 0 50px;
            text-align: left
        }

        @media #{$tablet}{
            
            h1{
                padding: 70px 0 0;
            }

            .bloque{
                margin-bottom: 10px;
            }
        }

        @media #{$tablet}{
            min-height: 350px;
            height: 92vh;
            h1{
                padding: 150px 0 0;
                text-align: center !important;
            }

            .bloque{
                margin-bottom: 100px;
            }
        }
        
    }
}