.recents{
    padding: 80px 0;

    h3{
        font-size: 36px;
        letter-spacing: 5px;
        text-align: center;
        width: 100%;
        margin-bottom: 80px;
    }

    a{
        //margin-top: 30px;

        &:hover{
            color: white;
        }
    }

    @media #{$phone}{
        h3{
            font-size: 28px;
        }
    }
}