.properties{
    font-size: 15px;
    margin-bottom: 40px;
    cursor: pointer;

    .property{
        position: relative;
        overflow: hidden;
        //width: 349px;
        //height: 235px;

        img{
            width: 100%;
        }

        .hover{
            position: absolute;
            height: 100%;
            width: 100%;
            content: ' ';
            top: 0;
            left: 0;
            background: rgba(0,0,0,0.5);
            z-index: 9;
            opacity: 0;
            pointer-events: none;
            @include transition(transition, all 0.25s ease-in-out);

            a{
                text-transform: uppercase;
                font-weight: bold;
                font-size: 20px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                -webkit-transform: translate(-50%,-50%);
                -o-transform: translate(-50%,-50%);
                -moz-transform: translate(-50%,-50%);
                color: white;
                letter-spacing: 15px;
                padding-right: 7px;

                &:before{
                    position: absolute;
                    right: -20px;
                    top: 50%;
                    transform: translateY(-50%);
                    background: url('../img/arrow-right.svg') no-repeat center center;
                    content: ' ';
                    width: 15px;
                    height: 25px;
                }
            }
        }

        .location{
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 5px 10px;
            background: rgba(0,0,0,0.5);
            width: 100%;
            color: white;
        }
    
        .price{
            position: absolute;
            right: 0;
            top: 15px;
            padding: 10px;
            background: $green;
            width: auto;
            color: white;
            font-weight: bold;
        }

        
    }
    .title{
        padding: 10px 0;
    }

    &:hover{
        .property{
            .hover{
                opacity: 1;
                
                a{
                    letter-spacing: 5px;
                }
            }
                
        }
    }
}


.links-properties{
    position: relative; 
    text-align: center;
    background: url('../img/home/grass.jpg') no-repeat center center;
    background-size: cover;
    padding: 50px 0;

    &:before{
        position: absolute;
        top: 0;
        left: 0px;
        background: $green;
        opacity: 0.5;
        width: 100%;
        height: 100%;
        content: ' ';
    }

    a{
        display: inline-block;
        position: relative;
        cursor: pointer;

        h4{
            letter-spacing: 2px;
            color: white;
            margin-top: 10px;
        }

        &:hover{
            h4{
               
            }
        }
    }

    

    @media #{$phone}{
        padding: 50px 30px;
        a{
            margin: 20px 0;
        }
    }
}

.properties-categories{
    background: $grayLight;
    padding: 30px 0;

    text-align: right;

    select{
        width: 50%;
    }

    h4{
        margin-bottom: 20px;
    }

    ul{
        li{
            display: inline-block;
            border-right: 1px solid black;
            margin: 0;

            &:last-child{
                border: none;
            }

            a{
                display: block;
                padding: 8px 20px;
                color: black;
                font-size: 14px;
                text-transform: uppercase;
                letter-spacing: 2px; 

                &:hover, &.active{
                    background: $green;
                    color: white;
                }
            }
        }
    }

    @media #{$phone}{
        select{
            width: 100%;
        }
    }
}

.filter{
    background: black;
    color: white;
    padding: 30px 0;

    span{
        font-size: 16px;
        text-transform: uppercase;
    }

    button{
        padding-top: 7px;
        padding-bottom: 7px;
        font-size: 15px;
    }


    @media #{$desktop}{
        span{
            font-size: 12px;
        }
    }

    @media #{$tablet}{
        button{
            font-size: 12px;
        }
    }

    @media #{$phone}{
      
    }
}

.all-properties{
    padding: 50px 0 0;
}


.description{
    padding: 50px 0;

    .info-description{
        background: $green; 
        padding: 30px;

        a.mail{
            color: white;
            margin: 20px 0;
            display: block;
            font-weight: bold;
        }

        h5{
            color: white;
        }

        .info{
            li:nth-child(1){
                padding-left: 0;
            }

            li:nth-child(2){
                border: none;
                padding-right: 0;
            }

            li:last-child(){
                display: none;
            }

            li{
                a{
                    span{
                        display: block;
                    }

                    svg{
                        margin-right: 10px;
                    }
                }
                &:hover{
                    a{
                        color: white;

                        

                        svg path{
                            fill: white;
                        }
                    }
                }
            }
        }
    }

    h4{
        font-size: 15px;
        padding-left: 35px;
        letter-spacing: 3px;
        line-height: 1.3;

        &:before{
            position: absolute;
            left: 15px;
            top: 50%;
            transform: translateY(-50%);
            background: url('../img/icons/location.svg') no-repeat center center;
            content: ' ';
            width: 24px;
            height: 36px;
        }
    }

    @media #{$desktop}{
        .info-description{
            padding: 24px;
        }
    }
}

.features{
    padding: 50px 0;
    background: black;
    color: white;

    .col-border{
        
    }

    h3{
        letter-spacing: 2px;
        margin-bottom: 30px;
    }

    ul{
        li{
            display: block;
                color: white;
                display: block;
                margin: 15px 0;

                &.none{
                    padding-left: 41px;
                }

                i{
                    color: $green;
                    font-size: 24px;
                    position: relative;
                    top: 3px;
                    margin-right: 10px;
                }

                img{
                    position: relative;
                    top: 2px;
                    margin-right: 5px;
                }

                @media #{$phone}{
                    font-size: 13px;
                }
            
        }
    }
}


.pager{
    margin-bottom: 50px;
    text-align: center;
    word-break: break-word;
    line-height: 4.5;

    a, span{
        
        font-size: 15px;
        color: white;
        background: black;
        padding: 15px 20px;
        margin: 0 5px;

        &:hover{
            background: $green;
        }
        
    }

    span{
        &.current{
            background: $green;
        }
    }
}


.featured-property{
    background: #E9E9E9;
    padding: 60px 0;

    h2{
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 2px;
        margin-bottom: 30px;
    }

    .container-gallery{
        margin-bottom: 10px;
    }

    ul{
        li{
            margin: 15px 0;

            img{
                position: relative;
                top: 3px;
            }
        }
    }

    @media #{$tablet}{
        .container-gallery{
            margin-top: 30px;
        }
    }

    @media #{$phone}{
        h2{
            font-size: 24px;
            line-height: 30px;
        }
    }
}