
// Colores
$green: #187F2E;
$black: black;
$red: #E4524B;
$grayLight: #E9E9E9;

$font-family: 'Montserrat', sans-serif;

$phone320: "only screen and (max-width : 320px)";
$phone360: "only screen and (max-width : 360px)";
$phone: "only screen and (max-width : 540px)";
$tablet: "only screen and (max-width : 768px)";
$desktop: "only screen and (max-width : 1024px)";
$desktophd: "only screen and (max-width : 1440px)";